/* CSS styles (You can add more styles here) */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Light bluish gray */
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff; /* White background */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #444; /* Dark bluish gray */
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  color: #444; /* Dark bluish gray */
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.suggestions {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #f9f9f9; /* Lighter bluish gray */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #34515e;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-weight: bold;
  color: #34515e;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f9fa;
  color: #34515e;
}

.form-group input:focus {
  outline: none;
  border-color: #51a0d5;
}

.form-group button {
  padding: 12px;
  background-color: #51a0d5;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-group button:hover {
  background-color: #408ec4;
}

.suggestions {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f9fa;
  color: #34515e;
  padding: 5px;
}

.suggestion {
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.suggestion:hover {
  background-color: #e5f0f9;
}

.player-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.player-list li {
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.2s ease-in-out;
}

.player-list li:hover {
  background-color: #e5f0f9;
}

.result {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f7f9fa;
  color: #34515e;
}

.result h2 {
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}


@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-2px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(2px);
  }
}

.invalid-input {
  animation: pulse 1s ease-in-out, shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) 3;
  border: 2px solid red;
}

